In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/sw_assoc_actor_1.csv')
df.head()

   data_id assoc_actor_1
0  7071632           NaN
1  7071641           NaN
2  7071661           NaN
3  7071675           NaN
4  7071677           NaN