In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('../data/syrian_war.csv')
df.head()

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,7071632,760,SYR77825,77825,25 April 2020,2020,3,Violence against civilians,Attack,Civilians (Syria),...,Ras Al Ain,36.8494,40.0747,2,SHAM,National,"As reported on 25 April 2020, a man's body was...",1,1588021902,SYR
1,7071641,760,SYR77882,77882,25 April 2020,2020,1,Explosions/Remote violence,Shelling/artillery/missile attack,QSD: Syrian Democratic Forces,...,Tal Tamer,36.6534,40.3718,2,SHAM,National,"On 25 April 2020, Turkey backed JWS whom are o...",2,1588021902,SYR
2,7071661,760,SYR77793,77793,25 April 2020,2020,1,Battles,Armed clash,QSD: Syrian Democratic Forces,...,Basira,35.1580,40.4277,2,SOHR,Other,"On 25 April 2020, an unknown gunmen presumably...",0,1588021902,SYR
3,7071675,760,SYR77808,77808,25 April 2020,2020,1,Battles,Armed clash,Sultan Murad Division,...,Al Bab,36.3697,37.5149,1,SOHR,Other,"On 25 April 2020, clashes took place among Sul...",0,1588021902,SYR
4,7071677,760,SYR77810,77810,25 April 2020,2020,1,Battles,Armed clash,HTS: Hayat Tahrir al Sham,...,Idleb,35.9290,36.6353,1,SOHR,Other,"On 25 April 2020, an unknown gunmen shot and k...",1,1588021902,SYR

In [3]:
df.columns

Index(['data_id', 'iso', 'event_id_cnty', 'event_id_no_cnty', 'event_date',
       'year', 'time_precision', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'interaction', 'region', 'country', 'admin1',
       'admin2', 'admin3', 'location', 'latitude', 'longitude',
       'geo_precision', 'source', 'source_scale', 'notes', 'fatalities',
       'timestamp', 'iso3'],
      dtype='object')

In [4]:
df['location'].unique()

array(['Ras Al Ain', 'Tal Tamer', 'Basira', ...,
       'Quneitra Border Crossing', 'Al Gheidhah', 'Eastern Samadaniyeh'],
      dtype=object)

In [5]:
len(df['location'].unique())

3328

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61670 entries, 0 to 61669
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_id           61670 non-null  int64
 1   iso               61670 non-null  int64
 2   event_id_cnty     61670 non-null  object
 3   event_id_no_cnty  61670 non-null  int64
 4   event_date        61670 non-null  object
 5   year              61670 non-null  int64
 6   time_precision    61670 non-null  int64
 7   event_type        61670 non-null  object
 8   sub_event_type    61670 non-null  object
 9   actor1            61670 non-null  object
 10  assoc_actor_1     12528 non-null  object
 11  inter1            61670 non-null  int64
 12  interaction       61670 non-null  int64
 13  region            61670 non-null  object
 14  country           61670 non-null  object
 15  admin1            61670 non-null  object
 16  admin2            61670 non-null  object
 17  admin3            61670 non-null  object
 18  location          61670 non-null  object
 19  latitude          61670 non-null  float64
 20  longitude         61670 non-null  float64
 21  geo_precision     61670 non-null  int64
 22  source            61670 non-null  object
 23  source_scale      61670 non-null  object
 24  notes             61670 non-null  object
 25  fatalities        61670 non-null  int64
 26  timestamp         61670 non-null  int64
 27  iso3              61670 non-null  object
dtypes: float64(2), int64(10), object(16)
memory usage: 13.2+ MB

In [7]:
df['event_type'].unique()

array(['Violence against civilians', 'Explosions/Remote violence',
       'Battles', 'Strategic developments', 'Riots', 'Protests'],
      dtype=object)